# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & Build outputs
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment variables
.env
.env.*
!.env.example

# Playwright & Test Artifacts
playwright-report/
blob-report/
test-results/
.playwright-artifacts-*/

# Dynamic Test Screenshots
*.png